LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;
FREQUENCY PORT "clk_pixel" 66.7 MHZ;
FREQUENCY PORT "clk_tmds" 333.3 MHZ;
FREQUENCY PORT "clk_rmii" 50 MHZ;
